:root {
  /* Tailwind slate-900 #0f172a */
  --color-primary-main: 15 23 42;

  /* Tailwind slate-900 #0f172a */
  --color-text-body: 15 23 42;
  /* Tailwind slate-900 #0f172a */
  --color-text-heading: 15 23 42;
  /* Tailwind slate-900 #0f172a */
  --color-text-bold: 15 23 42;
  /* Tailwind slate-900 #0f172a */
  --color-text-muted: 100 116 139;
  /* #339af0 */
  --color-text-link: 51 154 240;
  /* black */
  --color-text-code: 0 0 0;
  /* black */
  --color-text-selection: 0 0 0;

  --color-text-primary: 111 6 255;

  --color-text-secondary: 255 88 248; // #FF58F8

  --color-text-thirdly: 0 255 209; // #00FFD1

  --color-text-button: 255 255 255;

  --color-text-blockquote: 0 0 0;

  --color-bg-blockquote: 0 255 209 / 0.13; // #101010

  --color-bg-article: 245	245	245; // #F5F5F5


  /* white */
  --color-bg-body: 255 255 255;
  /* Tailwind amber-100 #fef3c7 */
  --color-bg-code: 254 243 199;
  /* Tailwind primary-200 #e2e8f0 */
  --color-bg-selection: 226 232 240;

  --color-bg-card: 246 246 250;

  --color-bg-modal: 111 6 255; // 6f06ff;

  /* primary-100 */
  --color-border-code: 244 244 245;
}

.text {
  font-family: 'Ruberoid','rimmasansboldruberoidsemibold', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.welcome {
  font-family: 'Ruberoid','rimmasansboldruberoidsemibold', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 26px;
  font-style: oblique;
}

.input-block {
  display: flex;
  flex-direction: column;
  min-height: 110px;

  @media screen and (max-width: 420px) {
    min-height: 95px;
  }
}

.input-label {
  margin-bottom: 8px;
  color: #FFF;
  font-family: 'Ruberoid','rimmasansboldruberoidsemibold', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (max-width: 420px) {
    margin-bottom: 4px;
  }
}

.input {
  height: 50px;
  background: #FFF;
  color: #000;
  outline: none;
  border: none;
  padding-left: 24px;
  font-family: 'Ruberoid','rimmasansboldruberoidsemibold', sans-serif;

  @media screen and (max-width: 420px) {
    height: 37px;
  }

  &::selection {
    background: theme('colors.text.primary');
    color: white
  }
}

.input-invalid {
  outline: solid red;
}

input select{
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}